body{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    color: #1f1f1f;
    height: 100%;
}

div{
    unicode-bidi: isolate;
}

.navbar{
    display: flex;
    margin: 2px;
    padding: 4px;
    align-items: center;
    box-sizing: border-box;
}

.nav-item{
    display: inline-block;
    padding: 5px;
    margin: 0 5px;
    color: #1f1f1f;
    text-decoration: none;
}

.rightnav{
    display: inline-block;
    flex-grow: 1;
    text-align: right;
}

.rightnav-item{
    display: inline-block;
    padding: 5px;
    margin: 0 5px;
    color: #000;
    text-decoration: none;
}

.menu-icon{
    width: 22px;
    height: 22px;
    padding: 5px;
    margin: 0 5px;
    vertical-align: middle;

}

.reg-but{
    height: 25px;
    width: 100px;
    display: inline-block;
    padding: 5px;
    margin: 0 5px;
    background-color: rgb(28, 135, 236);
    border-radius: 25px;
    text-align: center;
    vertical-align: middle
}

.body-1{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
}

.google-icon{
    margin-top: 20px;
}

.body-2{
    display: block;   
    padding: 20px
}

.search-container{
    margin: 0 auto;
    width: auto;
    max-width: 584px;
    padding-top: 10px;
    position: relative;
}

.search-box{
    display: flex;
    z-index: 3;
    position: relative;
    min-height: 44px;
    background: #fff;
    border: 1px solid #dfe1e5;
    box-shadow: none;
    border-radius: 24px;
    margin: 0 auto;
    width: 638px;
    width: auto;
    max-width: 584px;
}

.search-box-elm{
    display: flex;
    flex: auto;
    padding-right: 8px;
}

.search-icon{
    padding: 10px 14px 10px 14px;
    display: flex;
    height: auto;
    align-items: center;
}

.search-img{
    height: 20px;
    width: 20px;
    color: #dfe1e5;
}

.search-space{
    display: flex;
    flex-wrap: wrap;
    flex: 1;
    
}

.src{
    display: flex;
    color: transparent;
    white-space: pre;
    position: relative;
    pointer-events: none;
}

#search-id{
    display: flex;
    font-family: Arial, sans-serif;
    line-height: 22px;
    padding: 10px, 0, 0, 0;
    overflow-x: hidden;
    
    font-size: 16px;
    flex: 100%;
    resize: none;
    background-color: transparent;
    border: none;
    margin: 0;
    color: rgba(0, 0, 0, .87);
    word-wrap: break-word;
    outline: none;
    
    -webkit-tap-highlight-color: transparent;
}

.search-end{
    display: flex;
    flex: 0 0 auto;
    align-items: stretch;
    flex-direction: row;
    height: 44px;
}

.voice-search{
    flex: 1 0 auto;
    display: flex;
    cursor: pointer;
    align-items: center;
    border: 0;
    background: transparent;
    outline: none;
    padding: 0 8px;
    width: 24px;
    line-height: 44px;
}

.hey-google{
    display: flex;
    padding-top: 15px;
    height: 70px;
    justify-content: center;
}

.google-prompts{
    padding: 2px 15px 12px 15px;
    margin: 0 5px 0 5px;
    height: 30px;
    background-color: #f1f1f2;
    align-self: center;
    border-radius: 4px;
    vertical-align: middle;
}

.p{
    vertical-align: middle;
}

.body-3{
    flex-grow: 1;
    flex-shrink: 0;
    box-sizing: border-box;
    height: 70px;
}

.body-5{
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background: #f2f2f2;
    box-sizing: border-box;

}

.country{
    padding: 15px 30px;
    border-bottom: 1px solid #ceced0;
    font-size: 15px;
    color: var(--YLNNHc);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.foot{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;

}

.advert{
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    min-width: 30%;
    order: 0;
}

.message{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    order: 1;
}

.foot-menu{
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    min-width: 30%;
    order: 3;
}

.ad{
    display: block;
    padding: 15px;
    text-wrap: nowrap;
    white-space-collapse: collapse;
    text-decoration: none;
    color: #1f1f1f;
}